@use '../../styles/variables.scss' as var;

.slider-detail {

}

.slider-detail__item {
  height: 500px;
}

.slider-detail__item-image {
  border-radius: 40px;
}

.slider-detail__pagination {
  position: absolute;
  top: unset;
  right: 20px;
  bottom: 20px;
  left: unset;
  z-index: 2;

  opacity: 0.8;
}

.slider-detail__navigation-item {
  position: absolute;
  top: 50%;
  bottom: unset;
  z-index: 2;

  width: 70px;
  height: 70px;

  transform: translateY(-50%);

  &--prev {
    left: 20px;
  }

  &--next {
    right: 20px;
  }
}
