@use '../../styles/variables.scss' as *;

.slider {
  position: relative;

  overflow: hidden;
  width: 100%;

  .slider__list {
    overflow: unset;
  }
}

.slider__heading {
  display: flex;
  justify-content: space-between;
}

.slider__list {
  overflow: unset;
  width: 100%;
  height: auto;
}

.slider__item {
  position: relative;

  height: 100%;
}

.slider__item-image {
}

.slider__item-content {
}

.slider__item-title {
}

.slider__item-text {
}

.slider__controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-self: flex-end;
}

.slider__pagination {
  width: auto;
  min-width: 100px;

  font-family: $font-decor;
  font-size: 44px;
  line-height: 1;
  text-align: center;
  color: $accent-bg;

  pointer-events: none;
  user-select: none;

  @media (max-width: $desktop-mid-width) {
    font-size: 40px;
  }
  @media (max-width: $desktop-min-width) {
    font-size: 34px;
  }
  @media (max-width: $tablet-mid-width) {
    font-size: 28px;
  }
  @media (max-width: $mobile-mid-width) {
    font-size: 22px;
  }
}

.slider__navigation-item {
  width: 50px;
  height: 50px;
  padding: 10px;

  cursor: pointer;
  transition: opacity 0.4s ease-in-out;

  fill: $accent-bg;

  @media (max-width: $desktop-mid-width) {
    font-size: 40px;
  }
  @media (max-width: $desktop-min-width) {
    font-size: 34px;
  }
  @media (max-width: $tablet-mid-width) {
    font-size: 28px;
  }
  @media (max-width: $mobile-mid-width) {
    font-size: 22px;
  }

  @media (hover: hover) {
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }

  &--prev {
  }

  &--next {
  }
}
