@use '../variables.scss' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  padding: 15px 30px;

  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;

  box-shadow: $cardShadow;
  border-radius: 10px;

  cursor: pointer;

  transition: opacity 0.3s ease-in-out;

  &:focus-visible {
    outline: 2px solid $accent-add-bg;
    outline-offset: 2px;
  }

  @media (max-width: $tablet-min-width) {
    padding: 10px 20px;

    font-size: 14px;
  }

  @media (hover: hover) {
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }

  &--default {
    background-color: $accent-light-bg;
    border: 1px dashed $accent-add-bg;
  }

  &--accent {
    color: $bg-text-color;

    background-color: $accent-bg;
    border: 1px solid $accent-bg;
  }

  &--clear {
    color: $accent-text-color;

    background-color: transparent;
    border: 1px solid $accent-add-bg;
  }

  &--arrow {
    gap: 10px;
    margin: 0;
    padding: 0;

    text-transform: unset;

    box-shadow: unset;

    &::after {
      content: '⟫';
    }
  }
}
