@use '../variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  max-width: $desktop-max-width;
  margin: 0 auto;
  padding: 0 120px;

  @media (max-width: $desktop-mid-width) {
    padding: 0 80px;
  }
  @media (max-width: $desktop-min-width) {
    padding: 0 60px;
  }
  @media (max-width: $tablet-mid-width) {
    gap: 30px;
    padding: 0 40px;
  }
  @media (max-width: $mobile-mid-width) {
    padding: 0 20px;
  }
}
