### Template .env for deployment

# IMAGE_NAME=ghcr.io/OWNER/REPO:latest
IMAGE_NAME=

# Site
NEXT_PUBLIC_SITE_URL=https://icon-artel.ru
NODE_ENV=production

# CAPTCHA
NEXT_PUBLIC_CAPTCHA_SITE_KEY=
CAPTCHA_SECRET=

# Cockpit API (если ваше приложение обращается к Cockpit через API)
COCKPIT_API_URL=
COCKPIT_API_KEY=

