@use '../../../styles/variables' as *;
@use '../../../styles/animations';

.faq {
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.faq__item {
  width: 100%;

  background-color: $accent-light-bg;
  box-shadow: $cardShadow;
  border-radius: 30px;
}

.faq__item-details {
  display: block;
  overflow: hidden;

  &::details-content {
    overflow: hidden;
    height: 0;
    transition:
      height 0.3s ease-in-out,
      content-visibility 0.3s ease-in-out;
    transition-behavior: allow-discrete;
  }

  &[open] {
    &::details-content {
      height: auto;
    }

    .faq__item-title::before {
      transform: translateY(-50%) rotateZ(90deg);
    }

    .faq__item-text {
      animation: sweep 0.6s ease-in-out forwards;
    }
  }
}

.faq__item-title {
  position: relative;

  padding: 20px 20px 20px 50px;

  list-style: none;
  font-family: $font-decor;
  font-size: 28px;

  cursor: pointer;
  user-select: none;

  transition: opacity 0.4s ease-in-out;

  @media (max-width: $desktop-mid-width) {
    font-size: 26px;
  }
  @media (max-width: $desktop-min-width) {
    font-size: 24px;
  }
  @media (max-width: $tablet-mid-width) {
    font-size: 22px;
  }
  @media (max-width: $mobile-mid-width) {
    font-size: 20px;
  }

  @media (hover: hover) {
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }

  &::-webkit-details-marker {
    display: none;

    content: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }

  &::marker {
    content: none;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 20px;

    font-size: 20px;

    transition: transform 0.4s ease-in-out;
    transform: translateY(-50%);

    content: '⟫';
  }
}

.faq__item-text {
  padding: 20px 20px 20px 50px;

  font-size: 20px;

  opacity: 0;
  transform: translateY(-10px);

  @media (max-width: $desktop-min-width) {
    font-size: 18px;
  }
  @media (max-width: $tablet-mid-width) {
    font-size: 16px;
  }
  @media (max-width: $mobile-mid-width) {
    font-size: 14px;
  }
}
