@use '../../styles/variables' as *;

.address {
  font-size: 18px;

  font-style: normal;

  @media (max-width: $desktop-mid-width) {
    font-size: 16px;
  }
  @media (max-width: $tablet-mid-width) {
    display: none;
  }
}
