@use '../../styles/variables' as *;

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  transition: opacity 0.4s ease-in-out;

  @media (hover: hover) {
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }
}

.logo__image {
  width: auto;
  height: 50px;
}

.logo__text {
  font-family: $font-decor;
  font-size: 28px;

  @media (max-width: $tablet-mid-width) {
    font-size: 24px;
  }
  @media (max-width: $tablet-min-width) {
    font-size: 20px;
  }
  @media (max-width: $mobile-mid-width) {
    display: none;
  }
}
