@use '../../styles/variables.scss' as var;

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  transition: opacity 0.4s ease-in-out;

  @media (hover: hover) {
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }
}

.logo__image {
  width: auto;
  height: 50px;
}

.logo__text {
  font-family: var.$font-decor;
  font-size: 28px;

  @media (max-width: var.$tablet-mid-width) {
    font-size: 24px;
  }
  @media (max-width: var.$tablet-min-width) {
    font-size: 18px;
  }
  @media (max-width: var.$mobile-mid-width) {
    display: none;
  }
}
