@use '../../styles/variables.scss' as var;

.logo {
  display: flex;

  transition: opacity 0.4s ease-in-out;

  @media (hover: hover) {
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }
}

.logo__image {
  width: auto;
  height: 60px;
}
