@use '../../../styles/variables' as *;

.process {
}

.process__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.process__item {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 30px 50px;

  @media (max-width: $tablet-mid-width) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  @media (max-width: $tablet-min-width) {
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr;
  }

  &:nth-of-type(even) {
    grid-template-columns: 1fr auto;
    justify-items: end;

    @media (max-width: $tablet-mid-width) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
    @media (max-width: $tablet-min-width) {
      grid-template-rows: 1fr auto auto;
      grid-template-columns: 1fr;
      justify-items: start;
    }

    .process__item-image {
      grid-column: 2 / 3;

      @media (max-width: $tablet-min-width) {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }

    .process__item-title {
      grid-column: 1 / 2;

      @media (max-width: $tablet-min-width) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
    }

    .process__item-text {
      grid-column: 1 / 2;

      @media (max-width: $tablet-min-width) {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
      }
    }
  }
}

.process__item-image {
  grid-row: 1 / -1;

  height: auto;
  max-height: 400px;

  object-fit: cover;
  box-shadow: $cardShadow;
  border-radius: 40px;
  aspect-ratio: 4 / 3;

  @media (max-width: $tablet-min-width) {
    grid-row: 1 / 2;
    max-height: 300px;
  }
}

.process__item-title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  font-size: 28px;

  @media (max-width: $desktop-min-width) {
    font-size: 24px;
  }
  @media (max-width: $tablet-mid-width) {
    font-size: 22px;
  }
  @media (max-width: $tablet-min-width) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-self: center;
  }
  @media (max-width: $mobile-mid-width) {
    font-size: 20px;
  }
}

.process__item-text {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  font-size: 20px;

  @media (max-width: $desktop-min-width) {
    font-size: 18px;
  }
  @media (max-width: $tablet-mid-width) {
    font-size: 16px;
  }
  @media (max-width: $tablet-min-width) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  @media (max-width: $mobile-mid-width) {
    font-size: 14px;
  }
}
