.developer {
  transition: opacity 0.4s ease-in-out;

  @media (hover: hover) {
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }
}

.developer__text {
  white-space: nowrap;
}

.developer__logo {
  width: 30px;
  height: 30px;
}