@use '../../styles/variables.scss' as *;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;

  background-color: $accent-light-bg;
  box-shadow: $boxShadowOutset;
  border-bottom: 1px solid $accent-add-bg;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 80px;

  @media (max-width: $desktop-mid-width) {
    gap: 20px;
  }
  @media (max-width: $tablet-min-width) {
    gap: 10px;
  }
}

.header__contacts {
  display: flex;
  gap: 20px;

  @media (max-width: $tablet-mid-width) {
    flex-direction: column;
    gap: 0;
  }
  @media (max-width: $tablet-min-width) {
    display: none;
  }
}
