@use "../../styles/variables.scss" as var;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;

  background-color: var.$accent-light-bg;
  box-shadow: var.$boxShadowOutset;
  border-bottom: 1px solid var.$accent-add-bg;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 80px;

  @media (max-width: var.$desktop-mid-width) {
    gap: 20px;
  }
  @media (max-width: var.$tablet-min-width) {
    gap: 10px;
  }
}

.header__contacts {
  display: flex;
  gap: 20px;

  @media (max-width: var.$tablet-mid-width) {
    flex-direction: column;
    gap: 10px;
  }
  @media (max-width: var.$tablet-min-width) {
    display: none;
  }
}
