@use '../../../styles/variables' as *;

.advantages {
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;

  @media (max-width: $tablet-mid-width) {
    gap: 30px;
  }
}

.advantages__item {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: min(300px, 100%);

  text-align: center;
}

.advantages__item-icon {
  width: 100px;
  height: 100px;
}

.advantages__item-title {
  font-size: 28px;

  @media (max-width: $desktop-min-width) {
    font-size: 24px;
  }
  @media (max-width: $tablet-mid-width) {
    font-size: 22px;
  }
  @media (max-width: $mobile-mid-width) {
    font-size: 20px;
  }
}

.advantages__item-text {
  font-size: 20px;

  @media (max-width: $desktop-min-width) {
    font-size: 18px;
  }
  @media (max-width: $tablet-mid-width) {
    font-size: 16px;
  }
  @media (max-width: $mobile-mid-width) {
    font-size: 14px;
  }
}
