@use '../../styles/variables.scss' as var;

.contacts {
}

.contacts__item {
}

.contacts__link {
  display: block;
  padding: 5px;

  font-size: 18px;

  transition: opacity 0.4s ease-in-out;

  @media (max-width: var.$desktop-mid-width) {
    font-size: 16px;
  }

  @media (hover: hover) {
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }
}

.contacts__link-value {
}
