@use '../../styles/variables.scss' as *;

.about {
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-mid-width) {
    grid-template-columns: 1fr;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: $tablet-mid-width) {
    order: 2;
  }
}

.about__text {
  font-size: 22px;
}
